h1 {
  color: White;
   font-family: "Times New Roman", Times, serif;
   text-decoration: underline;
}

h2 {
  color: #00BFFF;
  font-family: verdana;
}

hr {
  height:3px;
  border-width:0;
  color:gray;
  background-color:#4B0082
}

.header {
  font-family: Cursive;
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 40px;
}

.chart_type {
  font-family: "Times New Roman", Times, serif;
  color: white;
  padding-bottom: 25px;
  font-size: 30px;
}